{% extends 'base.html' %} {% block body %}

<header style="padding: 20px">
  <a href="{% url 'home' %}"
    ><i class="fas fa-arrow-left" style="font-size: 2rem"></i
  ></a>
</header>

<div class="blog-post">
  <h1>{{ post.title }}</h1>
  <p style="opacity: 0.5">
    <i class="far fa-clock"></i> <i>{{ post.created }}</i>
  </p>
  <p>{{ post.body|linebreaksbr }}</p>
</div>

<div style="width: 80%; margin:auto">
  <h2>Comments</h2>
  <a href="{% url 'add_comment' post.pk %}">Add one</a><br>
  {% if not post.comments.all %}
  <p>No comments yet</p>
  {% else %} 
  <ul>
  {% for comment in post.comments.all %}
  <li><b>{{ comment.name.first_name }} {{ comment.name.last_name }} - {{ comment.modified }}</b> 
    <a href={% url 'edit_comment' comment.pk %}>(Edit)</a><br>
    <a href={% url 'delete_comment' comment.pk %}>(Delete)</a><br>
  {{ comment.body }}</li>
  {% endfor %}
  </ul>
  {% endif %}
</div>

{% endblock body %}
