{% extends 'base.html' %} {% block body %}

<section class="showcase">
  <header>
    <div class="toggle"></div>
  </header>

  <video src="https://cdn.dribbble.com/users/721278/screenshots/15785802/media/5d83546414d7bd334c675578df2dcc67.mp4" muted loop autoplay></video>
  <div class="overlay"></div>

  <div class="text">
    {% if user.is_authenticated %}
    <h2>Hello, {{ user.get_short_name }}!</h2>
    {% else %}
    <h2>Hello!</h2>
    {% endif %}
    <h1>Welcome</h1>
    <i class="fas fa-angle-double-down" style="color: #fff; margin-top: 10px; font-size: 20px; animation: appear 0.75s ease-out 2.25s forwards, move-up-down 1.5s linear infinite"></i>
  </div>
</section>

<div class="menu">
  <ul>
    <li>
      <button onclick="themeFunction()"><div class="theme"></div></button>
    </li>
    <li><a href="#about" class="about-menu">About</a></li>
    <li><a href="#blog" class="blog-menu">Blog</a></li>
    <li><a href="#contact" class="contact-menu">Contact</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'logout' %}" class="login-menu">Logout</a></li>
    {% else %}
    <li><a href="{% url 'login' %}" class="login-menu">Login</a></li>
    {% endif %}
  </ul>
</div>

<section class="content">
  <button onclick="topFunction()" id="topBtn">
    <i class="fas fa-caret-square-up"></i>
  </button>

  <div id="about">
    <h1 class="right-header">About</h1>
    <div class="about-container">
      <img src="static/assets/profile.png" alt="Profile picture" />
      <div class="about-text">
        <p>Hi there!</p>
        <p>
          My name is Melisa Ayu Angelina. I'm an Information Systems student at
          the University of Indonesia.
        </p>

        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
      </div>
    </div>
  </div>

  <div id="blog">
    <h1 class="left-header">Blog</h1>
  </div>

  <div class="contact-me" id="contact">
    <p>Let's talk!</p>
    <a href="mailto:melisa.ayu@ui.ac.id" aria-label="Go to Mail page"><button class="btn">Contact Me</button></a>
  </div>

  <footer>
    <div class="social-icons">
      <a href="mailto:melisa.ayu@ui.ac.id" aria-label="Mail"
        ><i class="far fa-envelope"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/melisa-ayu-angelina"
        target="_blank"
        aria-label="LinkedIn"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <a href="https://github.com/melisaou" target="_blank" aria-label="GitHub"
        ><i class="fab fa-github-alt"></i
      ></a>
      <a
        href="https://www.instagram.com/melisaou/"
        target="_blank"
        aria-label="Instagram"
        ><i class="fab fa-instagram"></i
      ></a>
    </div>
    <p>Melisa Ayu Angelina © 2022</p>
  </footer>
</section>

{% endblock body %}
