{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Melisa Ayu Angelina</title>

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'animations.css' %}"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'media.css' %}" />

    <link rel="icon" type="image/png" href="/static/assets/cubes.png" />

    <script
      crossorigin="anonymous"
      src="https://kit.fontawesome.com/c8e4d183c2.js"
    ></script>

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Tourney:wght@100&display=swap");
    </style>
  </head>

  <body>
    <div class="loader">
      <div class="circles">
        <span class="one"></span>
        <span class="two"></span>
        <span class="three"></span>
      </div>
      <div class="pacman">
        <span class="top"></span>
        <span class="bottom"></span>
        <span class="left"></span>
        <div class="eye"></div>
      </div>
    </div>

    <section class="main">
      <section class="showcase">
        <header>
          <div class="toggle"></div>
        </header>

        <video src="static/assets/neon.mp4" muted loop autoplay></video>
        <div class="overlay"></div>

        <div class="text">
          <h2>Hello.</h2>
          <h1>I'm Melisa</h1>
          <a href="#about"><button class="about-btn">about me</button></a>
        </div>
      </section>

      <div class="menu">
        <ul>
          <li>
            <button onclick="themeFunction()"><div class="theme"></div></button>
          </li>
          <li><a href="#about" class="about-menu">About</a></li>
          <li><a href="#projects" class="projects-menu">Blog</a></li>
          <li><a href="#contact" class="contact-menu">Contact</a></li>
        </ul>
      </div>

      <section class="content">
        <button onclick="topFunction()" id="topBtn">
          <i class="fas fa-caret-square-up"></i>
        </button>

        <div id="about">
          <h1 class="right-header">about</h1>
          <div class="about-container">
            <img src="static/assets/profile.png" alt="Profile picture" />
            <div class="about-text">
              <p>Hi there!</p>
              <p>
                My name is Melisa Ayu Angelina. I'm an Information Systems
                student at the University of Indonesia.
              </p>

              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum.
              </p>
            </div>
          </div>
        </div>

        <div id="projects">
          <h1 class="left-header">blog</h1>
        </div>

        <footer id="contact">
          <div class="social-icons">
            <a href="mailto:melisaangelina08@gmail.com" aria-label="Mail"
              ><i class="far fa-envelope"></i
            ></a>
            <a
              href="https://www.linkedin.com/in/melisa-ayu-angelina"
              target="_blank"
              aria-label="LinkedIn"
              ><i class="fab fa-linkedin-in"></i
            ></a>
            <a
              href="https://github.com/melisaou"
              target="_blank"
              aria-label="GitHub"
              ><i class="fab fa-github-alt"></i
            ></a>
            <a
              href="https://www.instagram.com/melisaou/"
              target="_blank"
              aria-label="Instagram"
              ><i class="fab fa-instagram"></i
            ></a>
          </div>
          <p>Melisa Ayu Angelina © 2022</p>
        </footer>
      </section>
    </section>
    <script src="{% static 'index.js' %}" type="text/javascript"></script>
  </body>
</html>
